.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.links, .social_media{
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
          
        li {
            display: inline-block;
            padding: 0 15px;

            img {
                max-width: 30px;
                height: auto;
            }
        }

        a {
            text-decoration: none;
            font-size: 1rem;
        }
    }
}

.p_footer {
    text-align: center;
    font-family: var(--font-gs-regular);

    b {
        font-family: var(--font-gs-medium);
        color: var(--primary);
    }
}

@media screen and (max-width: 850px) {
    .footer {
        flex-direction: column; 

        .links{
            padding: 50px;
        }        
    }
}

@media screen and (max-width: 530px) {
    .footer {
        
        .links{ 
            
            li {
                display: block;
                padding: 10px;
                text-align: center;
            }
        }
    }
}


