.demo_notice {
    // max-width: 300px;
    margin: 1rem;
    padding: 1rem;
    background-color: #FFFFE8;
    border: 1px solid red;
    border-radius: 6px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: var(--font-gs-regular);
  }
  
  .notice_icon {
    margin-right: 0.75rem;
    color: #2563EB;
    font-size: 16px;
  }
  
  .notice_message {
    color: #171717;
    margin: 0;
    padding-right: 2rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  .close_button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    color: #171717;;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  .close_button:hover {
    background-color: #DBEAFE;
  }

  @media screen and (min-width: 451px) {
    .demo_notice {    
    max-width: 400px;
    }
  }

  @media screen and (max-width: 450px) {
    .demo_notice {    
        left: 0;
    }
  }